body {
    background-color: wheat;
    color:#5A5553
}
h1{
    background-color: #8BBF9F;  
}
h2{
    background-color: #D6BA73;
}
h3{
    background-color: #a872b8;

}
a{
    color: blueviolet;
}
#link{
    text-align: center;
}